.search-bar {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  
  li:hover {
    background-color: #e9e9e9;
  }
  
  button {
    padding: 8px 16px;
    margin-bottom: 8px;
    background-color: #FE0000;
    ;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table td {
    background-color: #fff;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  p {
    margin-bottom: 8px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjust the height as needed */
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto;
  }